<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.sudoxd.phone">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.AppThemeDark">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".rom"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".onem7"
            android:parentActivityName=".htconeseries" />
        <activity
            android:name=".htcmain"
            android:parentActivityName=".rom" />
        <activity
            android:name=".htconeseries"
            android:parentActivityName=".htcmain" />
        <activity
            android:name=".onem8"
            android:parentActivityName=".htconeseries" />
        <activity
            android:name=".pixel"
            android:parentActivityName=".pixelseries" />
        <activity
            android:name=".googlemain"
            android:parentActivityName=".rom" />
        <activity
            android:name=".pixelseries"
            android:parentActivityName=".googlemain" />
        <activity
            android:name=".htc10"
            android:parentActivityName=".htconeseries" />
        <activity
            android:name=".motomain"
            android:parentActivityName=".rom" />
        <activity
            android:name=".motogseries"
            android:parentActivityName=".motomain" />
        <activity
            android:name=".motog5plus"
            android:parentActivityName=".motogseries" />
        <activity
            android:name=".samsungmain"
            android:parentActivityName=".rom" />
        <activity
            android:name=".galaxygcseries"
            android:parentActivityName=".samsungmain" />
        <activity
            android:name=".galaxysseries"
            android:parentActivityName=".samsungmain" />
        <activity
            android:name=".galaxys"
            android:parentActivityName=".galaxysseries" />
        <activity
            android:name=".galaxys2"
            android:parentActivityName=".galaxysseries" />
        <activity
            android:name=".galaxys3"
            android:parentActivityName=".galaxysseries" />
        <activity
            android:name=".galaxys4"
            android:parentActivityName=".galaxysseries" />
        <activity
            android:name=".galaxys5"
            android:parentActivityName=".galaxysseries" />

        <activity
            android:name=".galaxys6"
            android:parentActivityName=".galaxysseries" />
        <activity
            android:name=".galaxys7"
            android:parentActivityName=".galaxysseries" />
        <activity
            android:name=".galaxys8"
            android:parentActivityName=".galaxysseries" />
        <activity
            android:name=".galaxys9"
            android:parentActivityName=".galaxysseries" />
        <activity
            android:name=".galaxycamera"
            android:parentActivityName=".galaxygcseries" />
        <activity
            android:name=".galaxycamera2"
            android:parentActivityName=".galaxygcseries" />
        <activity
            android:name=".tabletmain"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".galaxyfold"
            android:parentActivityName=".galaxyfoldseries" />
        <activity
            android:name=".galaxyfoldseries"
            android:parentActivityName=".samsungmain" />
    </application>

</manifest>