<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.sudoxd.phone">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppThemeDark">
        <activity android:name="xyz.sudoxd.phone.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="xyz.sudoxd.phone.rom"
            android:parentActivityName="xyz.sudoxd.phone.MainActivity" />
        <activity
            android:name="xyz.sudoxd.phone.onem7"
            android:parentActivityName="xyz.sudoxd.phone.htconeseries" />
        <activity
            android:name="xyz.sudoxd.phone.htcmain"
            android:parentActivityName="xyz.sudoxd.phone.rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem7rom"
            android:parentActivityName="xyz.sudoxd.phone.onem7" />
        <activity
            android:name="xyz.sudoxd.phone.htconeseries"
            android:parentActivityName="xyz.sudoxd.phone.htcmain" />
        <activity
            android:name="xyz.sudoxd.phone.onem7romll"
            android:parentActivityName="xyz.sudoxd.phone.onem7rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem7rommm"
            android:parentActivityName="xyz.sudoxd.phone.onem7rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem7romnougat"
            android:parentActivityName="xyz.sudoxd.phone.onem7rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem7romoreo"
            android:parentActivityName="xyz.sudoxd.phone.onem7rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem8"
            android:parentActivityName="xyz.sudoxd.phone.htconeseries" />
        <activity
            android:name="xyz.sudoxd.phone.onem8rom"
            android:parentActivityName="xyz.sudoxd.phone.onem8" />
        <activity
            android:name="xyz.sudoxd.phone.onem8romll"
            android:parentActivityName="xyz.sudoxd.phone.onem8rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem8rommm"
            android:parentActivityName="xyz.sudoxd.phone.onem8rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem8rommmse"
            android:parentActivityName="xyz.sudoxd.phone.onem8rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem8romnoug"
            android:parentActivityName="xyz.sudoxd.phone.onem8rom" />
        <activity
            android:name="xyz.sudoxd.phone.onem8romoreo"
            android:parentActivityName="xyz.sudoxd.phone.onem8rom" />
        <activity
            android:name="xyz.sudoxd.phone.pixel"
            android:parentActivityName="xyz.sudoxd.phone.pixelseries" />
        <activity
            android:name="xyz.sudoxd.phone.googlemain"
            android:parentActivityName="xyz.sudoxd.phone.rom" />
        <activity
            android:name="xyz.sudoxd.phone.pixelseries"
            android:parentActivityName="xyz.sudoxd.phone.googlemain" />
        <activity
            android:name="xyz.sudoxd.phone.pixelrom"
            android:parentActivityName="xyz.sudoxd.phone.pixel" />
        <activity
            android:name="xyz.sudoxd.phone.pixelromnougat"
            android:parentActivityName="xyz.sudoxd.phone.pixelrom" />
        <activity
            android:name="xyz.sudoxd.phone.pixelromoreo"
            android:parentActivityName="xyz.sudoxd.phone.pixelrom" />
        <activity
            android:name="xyz.sudoxd.phone.htc10"
            android:parentActivityName="xyz.sudoxd.phone.htconeseries" />
        <activity
            android:name="xyz.sudoxd.phone.htc10rom"
            android:parentActivityName="xyz.sudoxd.phone.htc10" />
        <activity
            android:name="xyz.sudoxd.phone.htc10romnougat"
            android:parentActivityName="xyz.sudoxd.phone.htc10rom" />
        <activity
            android:name="xyz.sudoxd.phone.motomain"
            android:parentActivityName="xyz.sudoxd.phone.rom" />
        <activity
            android:name="xyz.sudoxd.phone.motogseries"
            android:parentActivityName="xyz.sudoxd.phone.motomain" />
        <activity
            android:name="xyz.sudoxd.phone.motog5plus"
            android:parentActivityName="xyz.sudoxd.phone.motogseries"/>
    </application>

</manifest>