<?xml version="1.0" encoding="utf-8"?><!-- the name "sudo productions" and the infinity triangle are all copyrights of sudo productions 2017-2018 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.sudoxd.sudophones">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppThemeDark">
        <activity android:name="io.github.sudoxd.sudophones.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="io.github.sudoxd.sudophones.rom"
            android:parentActivityName="io.github.sudoxd.sudophones.MainActivity" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem7"
            android:parentActivityName="io.github.sudoxd.sudophones.htconeseries" />
        <activity
            android:name="io.github.sudoxd.sudophones.htcmain"
            android:parentActivityName="io.github.sudoxd.sudophones.rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem7rom"
            android:parentActivityName="io.github.sudoxd.sudophones.onem7" />
        <activity
            android:name="io.github.sudoxd.sudophones.htconeseries"
            android:parentActivityName="io.github.sudoxd.sudophones.htcmain" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem7romll"
            android:parentActivityName="io.github.sudoxd.sudophones.onem7rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem7rommm"
            android:parentActivityName="io.github.sudoxd.sudophones.onem7rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem7romnougat"
            android:parentActivityName="io.github.sudoxd.sudophones.onem7rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem7romoreo"
            android:parentActivityName="io.github.sudoxd.sudophones.onem7rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem8"
            android:parentActivityName="io.github.sudoxd.sudophones.htconeseries" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem8rom"
            android:parentActivityName="io.github.sudoxd.sudophones.onem8" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem8romll"
            android:parentActivityName="io.github.sudoxd.sudophones.onem8rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem8rommm"
            android:parentActivityName="io.github.sudoxd.sudophones.onem8rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem8rommmse"
            android:parentActivityName="io.github.sudoxd.sudophones.onem8rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem8romnoug"
            android:parentActivityName="io.github.sudoxd.sudophones.onem8rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.onem8romoreo"
            android:parentActivityName="io.github.sudoxd.sudophones.onem8rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.pixel"
            android:parentActivityName="io.github.sudoxd.sudophones.pixelseries" />
        <activity
            android:name="io.github.sudoxd.sudophones.googlemain"
            android:parentActivityName="io.github.sudoxd.sudophones.rom" />
        <activity
            android:name="io.github.sudoxd.sudophones.pixelseries"
            android:parentActivityName="io.github.sudoxd.sudophones.googlemain" />
        <activity
            android:name="io.github.sudoxd.sudophones.pixelrom"
            android:parentActivityName="io.github.sudoxd.sudophones.pixel" />
        <activity
            android:name="io.github.sudoxd.sudophones.pixelromnougat"
            android:parentActivityName="io.github.sudoxd.sudophones.pixelrom" />
        <activity
            android:name="io.github.sudoxd.sudophones.pixelromoreo"
            android:parentActivityName="io.github.sudoxd.sudophones.pixelrom" />
        <activity
            android:name="io.github.sudoxd.sudophones.htc10"
            android:parentActivityName="io.github.sudoxd.sudophones.htconeseries" />
        <activity
            android:name="io.github.sudoxd.sudophones.htc10rom"
            android:parentActivityName="io.github.sudoxd.sudophones.htc10" />
        <activity android:name="io.github.sudoxd.sudophones.htc10romnougat"></activity>
    </application>

</manifest>